{% extends "layout.html" %}
{% block content %}
	<h1>CloudyTube</h1>
	<p>This service allows you to extract audio from videos (such as from YouTube) and upload them to your own Overcast® player. This requires an Overcast® Premium membership.</p>
	<h2>Upload video</h2>
	<h3 id="status"></h3>
	<form method="post" onsubmit="return submitForm(this);" id="form">
		<h3>Overcast® credentials</h3>
{% if env_credentials_supplied %}
		<p><input type="checkbox" name="use_env_credentials" id="use_env_credentials" value="true"> <label for="use_env_credentials">Use credentials supplied as environment variables</label></label></p>
{% endif %}
		<p><label for="username">Username: </label> <input type="text" name="username" id="username" placeholder="Username"></p>
		<p><label for="password">Password: </label> <input type="password" name="password" id="password" placeholder="Password"></p>
		<h3>Video</h3>
		<p><label for="video_url">Video URL: </label> <input type="text" name="video_url" id="video_url" value="{{ default_video_url }}" placeholder="Video URL"></p>
		<p><input type="submit" name="upload" value="Upload"></p>
	</form>
	<script type="text/javascript" src="/static/js/form.js"></script>
{% endblock %}
